.imageholder img{
    height: 200px;
    object-fit: cover;
    border-radius: 200px;
    /*margin: 40px;*/
}

.profile{
    /*padding: 0;*/
    /*margin-top: 40px;*/
}

.imageholder{
    border-radius: 50%;
    margin-bottom: 12px;
}

.username{
    font-size: 25px;
}

.list-group{
    margin: 0;
    padding: 0;
}

#username_main{
    font-size: 22px;
    margin: 0;
}

.custom-active{
    background-color: #2ecc71;
}