/*Specification*/

body{
    /*font-family: 'PT Sans', sans-serif;*/
}

/*First page*/


a.list-group-item{
    color: black;
}

.imageholder img{
    height: 64px; object-fit: cover;
}

a.list-group-item:hover{
    background-color: #7abaff;
    text-decoration: none;
}


ul, li{
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: armenian;
}

.menu{

}
.menu__item{

}

.menu__item a{
    /*font-size: 22px;*/
    /*font-weight: 700;*/
    /*color: black;*/
}